<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Editar publicação", edit_post_path(@post) %> |
  <%= link_to "Voltar", posts_path %>

  <%= button_to "Deletar publicação", @post, method: :delete %>
</div>
